<a href="https://colab.research.google.com/github/Aryan21129/Assignment-2-Challenge-Question/blob/main/Assignment_02_Challenge_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Write A python program to sort the list of heterogeneous data

In [13]:
L = ["Tokyo",35,"Berlin",67,"RiO",25]
stra = []
intr =[]
for i in L:
  if str(i).isnumeric()==True:
    intr.append(i)
  if str(i).isalpha()==True:
    stra.append(i)

  stra.sort()
  intr.sort()

  Resortedlist = intr+stra
  print(Resortedlist)

['Tokyo']
[35, 'Tokyo']
[35, 'Berlin', 'Tokyo']
[35, 67, 'Berlin', 'Tokyo']
[35, 67, 'Berlin', 'RiO', 'Tokyo']
[25, 35, 67, 'Berlin', 'RiO', 'Tokyo']

##Second approch

In [14]:
L = ["Tokyo",'35',"Berlin",'67',"RiO",'25']
L.sort()
print(L)

['25', '35', '67', 'Berlin', 'RiO', 'Tokyo']